
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import "variables";

@media (max-width: 576px){
    *{
        margin: 0px 0px 10px 0px;
        padding: 0;
    }
    
    //Menu principal//
    
    body{
        background-image: url(../img/fondo.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        
        header{
            border: 1px solid yellow;
            background-color: $color-primario;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 15em;
            
            .titulo-page{
                padding: 10px 10px 10px 10px;
                color: $color-secundario;
                font-family: 'Courier New', Courier, monospace
            }

            ul{
                list-style-type: none;
                text-decoration: none;
                padding: 0px;
                
                a {
                    border-radius: 5px;
                    background-color: $color-boton-menu;
                    margin: 0 20px;
                    padding: 10px;
                    list-style-type: none;
                    text-decoration: none;
                    color: $color-secundario;
                    letter-spacing: 2px;
                    font-size: large;
                    position: relative;
                    overflow: hidden;
                
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 1px solid transparent;
                        border-radius: 5px;
                        animation: colorBorder 3s linear infinite;
                    }

                    @keyframes colorBorder {
                    0% {
                    border-color: red;
                    }
                    33% {
                    border-color: blue;
                    }
                    66% {
                    border-color: green;
                    }
                    100% {
                    border-color: red;
                    }
                    }
                }
            }
        }
    }

    //Presentacion//

    main{
        .titulo2{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Roboto', sans-serif;
            font-size: xx-large;
            color: $color-secundario
        }
        .introduccion1{
            color: $color-secundario;
            font-size: medium;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-family: 'Kanit', sans-serif;
        }
        img{
            width: 20em;
        }

    //Catalogo//

        ul{
            border: 1px solid yellow;
            border-radius: 5px;
            background-color: $color-primario;
            list-style-type: none;
            text-align: center;
            padding: 0px;
            div{
                div{
                    li{
                        a{
                            border: 1px solid yellow;
                            border-radius: 5px;
                            background-color: $color-boton-menu;
                            list-style: none;
                            text-decoration: none;
                            color: $color-secundario;
                            letter-spacing: 2px;
                            font-size: 40px;
                        }
                    }
                    img{
                        height: 16em;
                        width: 16em;
                    }
                }
            }
        }
    }

    //Pie de pagina//

    footer{
        div{
            color: $color-secundario;
            text-align: center;
            font-size: 1%;
            h3{
                color: $color-secundario;
                font-size:large;
            }
        }
    }

    //Tarjetas//

    main div .card-body{
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(93,210,255,1) 100%);
        margin: 0px;
    }
}

@media (min-width: 577px) and (max-width: 1023px){
    *{
        margin: 0px 0px 10px 0px;
        padding: 0;
    }

    body{
        background-image: url(../img/fondo.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        
        header{
            border: 1px solid yellow;
            background-color: $color-primario;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 16em;
            
            .titulo-page{
                padding: 10px 10px 10px 10px;
                text-align: center;
                color: $color-secundario;
                font-family: 'Courier New', Courier, monospace
            }
            
            ul{
                list-style-type: none;
                text-decoration: none;
                padding: 0px;
                
                a {
                    border-radius: 5px;
                    background-color: $color-boton-menu;
                    margin: 0 20px;
                    padding: 10px;
                    list-style-type: none;
                    text-decoration: none;
                    color: $color-secundario;
                    letter-spacing: 2px;
                    font-size: large;
                    position: relative;
                    overflow: hidden;
                
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 1px solid transparent;
                        border-radius: 5px;
                        animation: colorBorder 3s linear infinite;
                    }

                    @keyframes colorBorder {
                    0% {
                    border-color: red;
                    }
                    33% {
                    border-color: blue;
                    }
                    66% {
                    border-color: green;
                    }
                    100% {
                    border-color: red;
                    }
                    }
                }
            }
        }
        
        main{
            .titulo2{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: 'Roboto', sans-serif;
                font-size: xx-large;
                color: $color-secundario;
            }
            .introduccion1{
                color: $color-secundario;
                font-size: large;
                text-align: center;
                font-family: 'Roboto', sans-serif;
                font-family: 'Kanit', sans-serif;
            }
            img{
                width: 25em;
            }
    
         //Catalogo//
    
            ul{
                border: 1px solid yellow;
                border-radius: 5px;
                background-color: $color-primario;
                list-style-type: none;
                text-align: center;
                padding: 0px;
                div{
                    div{
                        li{
                            a{
                                border: 1px solid yellow;
                                border-radius: 5px;
                                background-color: $color-boton-menu;
                                list-style: none;
                                text-decoration: none;
                                color:$color-secundario;
                                letter-spacing: 2px;
                                font-size: 40px;
                            }
                        }
                        img{
                            height: 16em;
                            width: 16em;
                        }
                    }
                }
            }
        }
    }

        //Pie de pagina//

    footer{
        div{
            color: $color-secundario;
            text-align: center;
            font-size: 1%;
            h3{
                font-size:x-large;
            }
        }
    }

    //Tarjetas//

    main div .card-body{
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(93,210,255,1) 100%);
        margin: 0px;
    }
}

@media (min-width: 1024px){

    *{
        margin: 0px 0px 10px 0px;
        padding: 0;
    }

    body{
        background-image: url(../img/fondo.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        
        header {
            border: 1px solid yellow;
            background-color: $color-primario;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 18em;

            .titulo-page {
            font-size: 60px;
            padding: 10px;
            color: $color-secundario;
            font-family: 'Courier New', Courier, monospace;
            }

            ul {
                list-style-type: none;
                text-decoration: none;
                padding: 0;

                a {
                    border-radius: 5px;
                    background-color: $color-boton-menu;
                    margin: 0 20px;
                    padding: 10px;
                    list-style-type: none;
                    text-decoration: none;
                    color: $color-secundario;
                    letter-spacing: 2px;
                    font-size: large;
                    position: relative;
                    overflow: hidden;
                
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 1px solid transparent;
                        border-radius: 5px;
                        animation: colorBorder 3s linear infinite;
                    }

                    @keyframes colorBorder {
                    0% {
                    border-color: red;
                    }
                    33% {
                    border-color: blue;
                    }
                    66% {
                    border-color: green;
                    }
                    100% {
                    border-color: red;
                    }
                    }
                }
            }
        }
        
        main{
            .titulo2{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: 'Roboto', sans-serif;
                font-size: xx-large;
                color: $color-secundario;
            }
            .introduccion1{
                color: $color-secundario;
                font-size: x-large;
                text-align: center;
                font-family: 'Roboto', sans-serif;
                font-family: 'Kanit', sans-serif;
            }
            img{
                width: 30em;
            }
    
         //Catalogo//
    
            ul{
                border: 1px solid yellow;
                border-radius: 5px;
                background-color: $color-primario;
                list-style-type: none;
                text-align: center;
                padding: 0px;
                div{
                    div{
                        li{
                            a{
                                border: 1px solid yellow;
                                border-radius: 5px;
                                background-color: $color-boton-menu;
                                list-style: none;
                                text-decoration: none;
                                color: $color-secundario;
                                letter-spacing: 2px;
                                font-size: 40px;
                            }
                        }
                        img{
                            height: 16em;
                            width: 16em;
                        }
                    }
                }
            }
        }
    }

        //Pie de pagina//

    footer{
        div{
            color: $color-secundario;
            text-align: center;
            font-size: 1%;
            h3{
                font-size:xx-large;
            }
        }
    }

    //Tarjetas//

    main div .card-body{
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(93,210,255,1) 100%);
        margin: 0px;
    }
}